@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroyextrabold-webfont.eot');
    src: local('Gilroy'), local('Gilroy-ExtraBold'),
          url('fonts/gilroyextrabold-webfont.eot?#iefix') format('embedded-opentype'),
           url('../fonts/gilroyextrabold-webfont.woff2') format('woff2'),
           url('../fonts/gilroyextrabold-webfont.woff') format('woff'),
           url('../fonts/gilroyextrabold-webfont.ttf') format('truetype'),
           url('../fonts/gilroyextrabold-webfont.svg#gilroyextrabold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/gilroylight-webfont.eot');
    src: local('Gilroy'), local('Gilroy-Regular'),
          url('../fonts/gilroylight-webfont.eot?#iefix') format('embedded-opentype'),
           url('../fonts/gilroylight-webfont.woff2') format('woff2'),
           url('../fonts/gilroylight-webfont.woff') format('woff'),
           url('../fonts/gilroylight-webfont.ttf') format('truetype'),
           url('../fonts/fonts/gilroylight-webfont.svg#gilroylight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-light-webfont.eot');
    src:local('Open Sans'), local('OpenSans-Light'),
        url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-regular-webfont.eot');
    src:local('Open Sans'), local('OpenSans-Regular'),
        url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.01em;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.capitalize {
  font-size: 15px;
  line-height: 36px;
  text-transform: capitalize;
  letter-spacing: 0.01em;
}

.btn {
  font-weight: bold;
  font-size: 18px;
  line-height: 21.6px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background: url("../img/btn-background.png") no-repeat center;
  background-size: auto 8px;
}

.btn:hover {
  background-color: #f0c52e;
  background-image: none;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

/*HEADER*/

.main-header .container {
  position: relative;

  box-sizing: border-box;
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 41px 59px 160px;

  background-color: #f7e296;
}

.inner-page .main-header .container {
  margin-bottom: 33px;
  padding-bottom: 47px;
}

.main-header h1 {
  position: absolute;
  top: -38px;
  left: 51px;
}

.visually-hidden {
  display: inline-block;

  text-indent: -9999px;
}

.logo {
  font-weight: 800;
  font-size: 26.459px;
  font-family: "Gilroy", "Arial", sans-serif;
}

.logo-header {
  fill: #000000;
}

a .logo-header:hover {
  fill: #464646;
}

a .logo-header:active {
  fill: #666666;
}

.header-user {
  margin-bottom: 32px;
}

.site-search {
  float: left;
  margin-left: 5px;
}

input[name="search"] {
  height: 36px;
  padding-left: 35px;

  font-size: 15px;
  color: #000000;
  letter-spacing: 0.01em;

  background: url("../img/search.png") no-repeat left;
  background-color: transparent;
  border: none;
}

input[name="search"]:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

input[name="search"]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

input[name="search"]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

input[name="search"]:hover :-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

input[name="search"]:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

input[name="search"]:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

input[name="search"]:focus {
  outline: none;
}

.site-search button {
  position: relative;

  display: none;
  width: 85px;
  height: 49px;
  margin-left: 110px;

  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.01em;

  background-color: transparent;
  border: 2px solid #000000;
  border-bottom: transparent;
}

input[name="search"] + button::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;

  display: none;
  width: 404px;
  height: 2px;

  background-color: #000000;
}

input[name="search"]:focus + button,
input[name="search"]:focus + button::after {
  display: inline-block;
}

input[name="search"] + button:hover {
  color: #ffffff;

  background-color: #000000;
  border: none;
}

input[name="search"] + button:hover::after {
  display: none;
}

input[name="search"] + button:active {
  display: inline-block;

  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
  border: none;
}

.user-navigation {
  float: right;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
  text-align: right;
}

.user-navigation li {
  display: inline-block;
  margin-top: 4px;

  vertical-align: top;
}

.user-navigation a {
  position: relative;

  font-size: 15px;
}

.user-navigation a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  background-image: url("../img/sprite.png");
  transform: translateY(-50%);
}

.user-navigation a:hover {
  opacity: 0.6;
}

.user-navigation a:active {
  opacity: 0.3;
}

.header-login {
  margin-right: 215px;
  padding-left: 25px;
}

.profile-link {
  padding-left: 25px;
}

.user-navigation button {
  vertical-align: text-top;
}

.header-login::before,
.profile-link::before {
  width: 13px;
  height: 12px;

  background-position: -509px -104px;
}

.header-compare {
  padding-left: 19px;
}

.header-compare::before {
  width: 10px;
  height: 10px;

  background-position: -479px -104px;
}

.header-cart {
  margin-left: 40px;
  padding-left: 21px;
}

.header-cart::before {
  width: 12px;
  height: 12px;

  background-position: -447px -104px;
}

.site-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation > li > a {
  font-weight: bold;
  font-size: 18px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  white-space: nowrap;
}

.site-navigation a:hover {
  opacity: 0.6;
}

.site-navigation a:active {
  opacity: 0.3;
}

.link-catalog {
  position: relative;
  z-index: 3;

  float: left;
  margin-right: 294px;

  text-align: left;
}

.link-catalog > a {
  position: relative;

  padding-right: 28px;
}

.link-catalog > a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;

  width: 16px;
  height: 16px;

  background: url("../img/sprite.png") no-repeat -570px -104px;
  transform: translateY(-50%);
}

.link-delivery {
  float: left;
  margin-right: 35px;
}

.link-warranty {
  float: left;
}

.link-contacts {
  float: right;
  margin-right: -2px;
}

.catalog-navigation {
  position: absolute;
  top: 22px;
  left: -59px;
  z-index: 3;

  display: none;
  box-sizing: border-box;
  width: 1160px;
  padding-top: 25px;
  padding-bottom: 28px;
  padding-left: 60px;

  font-size: 0;
  text-align: left;

  background-color: #f7e296;
}

.catalog-navigation ul {
  display: inline-block;
  margin: 0;
  padding: 0;

  list-style: none;
  vertical-align: top;
}

.list-1 {
  width: 240px;
}

.list-2 {
  width: 200px;
}

.list li {
  padding: 0;
}

.catalog-navigation a {
  font-weight: normal;
  font-size: 15px;
  line-height: 36px;
  text-align: left;
  text-transform: lowercase;
  letter-spacing: 0.01em;
}

.link-catalog:hover .catalog-navigation,
.catalog-navigation:hover {
  display: block;
}

.profile-link + button {
  margin-right: 58px;
  margin-left: 12px;

  font-size: 15px;
  line-height: 15px;
  vertical-align: baseline;
  color: rgba(0, 0, 0, 0.3);

  background-color: transparent;
  border: none;
  cursor: pointer;
}

/*ITEM-SLIDER*/

main input[name="services"] {
  display: none;
}

.item-slider {
  position: relative;

  margin-top: -162px;
}

.item-slider::before {
  content: "";
  position: absolute;
  top: 77px;
  left: 600px;

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

input[name="item"] {
  display: none;
}

.item-slide {
  display: none;
}

#btn-monopode:checked ~ #slide-monopod,
#btn-fittracker:checked ~ #slide-fittracker,
#btn-quadrocopter:checked ~ #slide-quadrocopter {
  display: block;
}

.item-slide-right {
  float: right;
  margin-right: 48px;
}

.item-slider img {
  float: left;
}

h2 {
  font-weight: bold;
  font-size: 47px;
  line-height: 56.4px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.item-slide h2 {
  margin-top: -87px;
  margin-bottom: 20px;
}

.item-number {
  font-weight: bold;
  font-size: 179.2px;
  line-height: 179.2px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #ffffff;
}

.description {
  width: 500px;
  margin: 0;
  margin-bottom: 42px;

  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  color: #464646;
  letter-spacing: 0.01em;
}

.item-slider a {
  display: block;
  width: 220px;
  margin-bottom: 53px;
  margin-left: 2px;

  line-height: 40px;
}

input[name="item"] + label {
  position: relative;
  top: 365px;
  left: 1000px;

  display: inline-block;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  margin-right: 20px;

  font-size: 0;

  border: 3px solid #000000;
  border-radius: 50%;
}

input[name="item"]:not(:checked) + label:hover {
  border-color: rgba(0, 0, 0, 0.4);
}

input[name="item"]:not(:checked) + label {
  border-color: rgba(0, 0, 0, 0.3);
}

.characteristics {
  font-size: 0;
}

.characteristics div {
  display: inline-block;
  margin-right: 80px;

  vertical-align: top;
  text-align: left;
}

.characteristics b {
  display: inline-block;
  padding-bottom: 9px;

  font-weight: lighter;
  font-size: 36px;
  line-height: 43.2px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.characteristics p {
  margin: 0;

  font-size: 13px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #464646;
}

.monopode {
  padding-bottom: 106px;
}

.monopode img {
  margin-top: 14px;
  margin-left: 90px;
}

.monopode .item-number {
  padding-left: 334px;
}

.monopode h2 {
  width: 398px;
}

.fittracker {
  margin-bottom: 96px;
}

.fittracker img {
  margin-top: 24px;
  margin-left: 115px;
}

.fittracker h2 {
  width: 300px;
}

.fittracker .item-number {
  padding-left: 310px;
}

.fittracker .description {
  width: 465px;
}

.quadrocopter {
  margin-bottom: 114px;
}

.quadrocopter img {
  margin-top: 78px;
  margin-left: 30px;
}

.quadrocopter .item-slide-right {
  margin-right: 50px;
}

.quadrocopter h2 {
  width: 510px;
}

.quadrocopter .characteristics div {
  margin-right: 43px;
}

.quadrocopter .item-number {
  width: 515px;

  text-align: right;
}

/*ITEM-NAVIGATION*/

.item-navigation {
  margin: 0;
  margin-bottom: 185px;
  padding: 0;

  list-style: none;
  font-size: 0;
  letter-spacing: 0;
}

.item-navigation li {
  display: inline-block;
  margin-right: 40px;

  vertical-align: top;
}

.item-navigation li:nth-child(6n) {
  margin-right: 0;
}

.item {
  position: relative;

  display: inline-block;
  width: 160px;
  height: 160px;
  margin-bottom: 34px;

  vertical-align: top;

  background-color: #f7e296;
}

.item-navigation a {
  display: block;
  width: 160px;

  font-weight: bold;
  font-size: 18px;
  line-height: 21.6px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: left;
  color: #000000;
  letter-spacing: 0.01em;
}

.item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  background: #f7e296 url("../img/sprite.png") no-repeat;
  transform: translateX(-50%) translateY(-50%);
}

.icon-vr::before {
  width: 97px;
  height: 55px;

  background-position: -442px -428px;
}

.icon-monopode::before {
  top: 100%;

  width: 86px;
  height: 117px;

  background-position: -443px -256px;
  transform: translateX(-50%) translateY(-100%);
}

.icon-monopode + a {
  width: 100px;
}

.icon-cam::before {
  width: 71px;
  height: 87px;

  background-position: -10px -10px;
}

.icon-fittracker::before {
  width: 107px;
  height: 65px;

  background-position: -440px -10px;
}

.icon-watch::before {
  width: 56px;
  height: 98px;

  background-position: -559px -428px;
}

.icon-quadrocopter::before {
  width: 132px;
  height: 69px;

  background-position: -10px -393px;
}

.item-navigation li:hover .item,
.item-navigation li:hover .item::before {
  background-color: #f0c52e;
}

.item-navigation li:active {
  opacity: 0.3;
}

/*SERVICES-SLIDER*/

.services-slider {
  margin-bottom: 103px;

  font-size: 0;

  background-color: #e5e5e5;
}

#btn-delivery:checked ~ .services-slider #slide-delivery,
#btn-warranty:checked ~ .services-slider #slide-warranty,
#btn-credit:checked ~ .services-slider #slide-credit {
  display: inline-block;
}

.services-slide {
  display: none;
  box-sizing: border-box;
  margin-top: -100px;
  margin-bottom: 60px;
  padding-top: 70px;
  padding-bottom: 76px;
  padding-left: 117px;

  background-repeat: no-repeat;
  border-left: 7px solid #000000;
}

.services-slide h2 {
  margin: 0;
  margin-bottom: 27px;

  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.01em;
}

.services-slide p {
  width: 450px;
  margin: 0;

  font-size: 15px;
  line-height: 30px;
  text-align: left;
  letter-spacing: 0.01em;
}

.delivery {
  width: 817px;

  background-image: url("../img/delivery.png");
  background-position: right 85px;
}

.warranty {
  width: 836px;

  background-image: url("../img/warranty.png");
  background-position: right 60px;
}

.credit {
  width: 812px;

  background-image: url("../img/credit.png");
  background-position: right 60px;
}

.services-slider-controls {
  display: inline-block;
  margin-top: -100px;
  padding-top: 80px;
  padding-bottom: 82px;

  vertical-align: top;
}

.services-slider-controls label {
  display: block;
  box-sizing: border-box;
  width: 277px;
  margin-bottom: 25px;
  padding-right: 107px;

  line-height: 40px;
  letter-spacing: 0.2em;

  background-position: left;
  background-size: 160px 8px;
}

.services-slider-controls label:last-of-type {
  margin-bottom: 0;
}

.services-slider-controls label:hover {
  background: url("../img/services-controls-hover.png") no-repeat left;
}
.services-slider-controls label:active {
  color: rgba(0, 0, 0, 1);
}

#btn-delivery:checked ~ .services-slider #label-delivery,
#btn-warranty:checked ~ .services-slider #label-warranty,
#btn-credit:checked ~ .services-slider #label-credit {
  color: #f7e184;

  background: #000000 none;
}

/*PARTNERS*/

.partners {
  margin-bottom: 93px;

  font-size: 0;
  letter-spacing: 0;
}

.partners-link {
  display: inline-block;
  width: 260px;
  height: 100px;
  margin-right: 40px;

  vertical-align: top;

  background: url("../img/sprite.png") no-repeat;
}

.partners a:nth-child(4n) {
  margin-right: 0;
}

.partners-link-dji {
  background-position: -101px -10px;
}

.partners-link-dji:hover {
  background-position: -10px -130px;
}

.partners-link-spgadgets {
  background-position: -162px -393px;
}

.partners-link-spgadgets:hover {
  background-position: -606px -10px;
}
.partners-link-gopro {
  background-position: -290px -136px;
}

.partners-link-gopro:hover {
  background-position: -10px -256px;
}

.partners-link-vive {
  background-position: -570px -188px;
}

.partners-link-vive:hover {
  background-position: -549px -308px;
}

/*INFO*/

.info {
  width: 50%;
}

.info h2 {
  position: relative;

  margin: 0;
  margin-bottom: 40px;
  padding-top: 48px;
}

.info h2::before {
  content: "";
  position: absolute;
  top: 0;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.info p {
  margin: 0;
  margin-bottom: 30px;

  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0;
}

.info a {
  display: inline-block;
  width: 260px;

  background-size: 260px;
}

/*ABOUT*/

.about {
  float: left;
}

.about p {
  width: 495px;
}

.about ul {
  margin: 0;
  margin-bottom: 62px;
  margin-left: 18px;
  padding: 0;
  padding-top: 35px;

  list-style-type: none;
  list-style-image: url("../img/list-marker.png");
  letter-spacing: 0;
}

.about li {
  padding-left: 18px;

  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

/*CONTACTS*/

.contacts {
  float: right;
  box-sizing: border-box;
  padding-left: 20px;
}

.contacts p {
  width: 540px;
  margin-bottom: 38px;
}

.contacts div {
  padding-bottom: 66px;
}

/*INNER-HEADER*/

.inner-page main {
  overflow: hidden;
}

.inner-header .container {
  box-sizing: border-box;
  padding-left: 60px;
}

.inner-header h2 {
  margin: 0;
  margin-bottom: 15px;

  letter-spacing: 0.01em;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.breadcrumbs li {
  display: inline-block;

  vertical-align: top;
}

.breadcrumbs li::after {
  content: "";

  display: inline-block;
  width: 3.5px;
  height: 3.5px;
  margin-right: 17px;
  margin-bottom: 3px;
  margin-left: 10px;

  border: 2px solid black;
  border-bottom: transparent;
  border-left: transparent;
  transform: rotate(45deg);
}

.breadcrumbs li:last-child::after {
  display: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.01em;
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs a.active {
  color: rgba(0, 0, 0, 0.1);
}

/*ASIDE*/

aside {
  float: left;
  width: calc(50% - 252px);
  margin-bottom: -32767px;
  padding-bottom: 32767px;

  background-color: #eeeeee;
}

.search-title {
  margin-bottom: 68px;
  padding-top: 26px;
  padding-bottom: 28px;
  padding-left: calc(100% - 268px);

  font-weight: bold;
  font-size: 16px;
  line-height: 19.2px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: #dcdcdc;
}

.aside-container {
  margin-left: calc(100% - 268px);
  padding-right: 68px;
}

form .title {
  margin: 0;
  margin-bottom: 30px;

  font-weight: bold;
  font-size: 18px;
  line-height: 21.6px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.search-price {
  min-height: 88px;/*УДАЛИТЬ*/
  padding-top: 12px;

  border-top: 2px solid #000000;
}

.title.search-range {
  margin-bottom: 37px;
}

p.title {
  margin: 0;
  margin-bottom: 18px;
}

.color-search {
  padding-top: 12px;
  padding-bottom: 33px;

  border-top: 2px solid #000000;
}

.aside-container input {
  display: none;
}

.aside-container input[type="checkbox"] + label,
.aside-container input[type="radio"] + label {
  position: relative;

  display: block;
  margin: 0 0;
  padding-left: 40px;

  line-height: 40px;
  color: #000000;

  cursor: pointer;
}

.aside-container input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 23px;
  height: 23px;

  background-color: #dbdbdb;
  transform: translateY(-50%);
}

.aside-container input[type="checkbox"] + label:hover::before {
  background-color: #cecece;
}

.aside-container input[type="checkbox"]:active + label::before {
  background: #c4c4c4 url("../img/icon-tick.png") no-repeat 50% 50%;
}

.aside-container input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 23px;
  height: 23px;

  background: #dbdbdb url("../img/icon-tick.png") no-repeat 50% 50%;
  transform: translateY(-50%);
}

.aside-container input[type="checkbox"] + label:hover::after {
  background-color: #cecece;
}

.aside-container input[type="checkbox"] + label:active::after {
  background-color: #c4c4c4;
  background-image: none;
}

.bluetooth-search {
  margin-bottom: 38px;
  padding-top: 12px;

  border-top: 2px solid #000000;
}

.aside-container a {
  padding: 0 40px;
}

.aside-container a:hover {
  background: url("../img/btn-background.png") no-repeat center;
  background-color: transparent;
}

.aside-container a:active {
  color: rgba(0, 0, 0, 1);
}

.aside-container input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  box-sizing: border-box;
  width: 23px;
  height: 23px;

  border: 2px solid #c6c6c6;
  border-radius: 50%;
  transform: translateY(-50%);
}

.aside-container input[type="radio"] + label:hover::before {
  border-color: #bcbcbc;
}

.aside-container input[type="radio"]:active + label::before {
  background: url("../img/icon-radio.png") no-repeat 50% 50%;
  border: 2px solid #acacac;
}

.aside-container input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  box-sizing: border-box;
  width: 23px;
  height: 23px;

  background: url("../img/icon-radio.png") no-repeat 50% 50%;
  border: 2px solid #c6c6c6;
  border-radius: 50%;
  transform: translateY(-50%);
}

.aside-container input[type="radio"]:checked + label:hover::after {
  border: 2px solid #bcbcbc;
}

/*RESULT*/

.result {
  float: left;
  width: calc(252px + 50%);
  margin-bottom: 74px;
}

.sorting {
  margin-bottom: 17px;
  padding-top: 21px;
  padding-bottom: 19px;
  padding-left: 72px;

  background-color: #ebebeb;
}

.sorting span {
  font-weight: bold;
  font-size: 16px;
  line-height: 19.2px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.sorting-category {
  display: inline-block;
  margin: 0;
  margin-left: 52px;
  padding: 0;

  list-style: none;
  font-size: 0;
  vertical-align: middle;
}

.sorting-category li {
  display: inline-block;
  margin-right: 28px;

  vertical-align: top;
}

.sorting-category a {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-category a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-category a:active {
  color: #000000;
}

.sorting-category a.active {
  color: #000000;
}

.sorting-arrows {
  display: inline-block;
  margin-top: 5px;
  margin-left: 152px;

  font-size: 0;
  vertical-align: top;
}

.sorting-arrow {
  margin-left: 25px;

  font-size: 0;
}

.sorting-arrow::before {
  content: "";

  display: inline-block;

  border: 9px solid rgba(0, 0, 0, 0.2);
  border-right-color: transparent;
  border-left-color: transparent;
}

.sorting-arrow.top::before {
  border-top-width: 0;
}

.sorting-arrow.down::before {
  border-bottom-width: 0;
}

.sorting-arrow.top:hover::before {
  border-bottom-color: rgba(0, 0, 0, 0.4);
}

.sorting-arrow.down:hover::before {
  border-top-color: rgba(0, 0, 0, 0.4);
}

.sorting-arrow.top:active::before {
  border-bottom-color: #000000;
}

.sorting-arrow.down:active::before {
  border-top-color: #000000;
}

.sorting-arrow.top.active::before {
  border-bottom-color: #000000;
}

.sorting-arrow.down.active::before {
  border-top-color: #000000;
}

.result-container {
  width: 765px;
  padding-left: 72px;
}

.item-card {
  position: relative;

  float: left;
  margin-top: 50px;
}

.item-card:nth-of-type(2n) {
  margin-left: 40px;
}

.item-card h3 {
  float: left;
  width: 255px;
  margin: 0;
  margin-top: 24px;

  font-weight: bold;
  font-size: 18px;
  line-height: 21.6px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.monopode-pro h3 {
  width: 190px;
}

.price {
  float: right;
  margin-top: 24px;

  font-size: 16px;
  line-height: 19px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.01em;
}

.item-card:hover img {
  opacity: 0.7;
}

.action {
  position: absolute;
  top: 0;
  left: 0;
  display: none;

  width: 360px;
  height: 379px;
}

.item-card:hover .action {
  display: block;
}

.action button {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.action-cart {
  height: 40px;
  margin-top: 170px;
  margin-bottom: 7px;
  padding: 0 38px;

  letter-spacing: 0.2em;

  border: none;
}

.action-compare {
  font-size: 13px;
  line-height: 36px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.01em;

  background-color: transparent;
  border: none;
}

.action-compare:hover {
  color: rgba(0, 0, 0, 1);
}

.action-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.paginator {
  width: 760px;
  margin-top: 40px;
  padding: 0;

  list-style: none;
  font-size: 0;
  text-align: center;

  background-color: #ebebeb;
}

.paginator-number {
  display: inline-block;
  margin-right: 25px;
}

.paginator li:nth-child(4) {
  margin-right: 0;
}

.paginator a {
  font-weight: bold;
  font-size: 16px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.paginator-number a {
  line-height: 70px;
  color: rgba(0, 0, 0, 0.3);
}

.paginator-number a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.paginator-number a:active {
  color: #000000;
}

.paginator-number a.active {
  color: #000000;
}

.paginator-guides.previous {
  float: left;
}

.paginator-guides.next {
  float: right;
}

.paginator-guides {
  width: 126px;
}

.paginator-guides a {
  line-height: 70px;
  vertical-align: middle;
}

.paginator-guides:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.paginator-guides a:active {
  color: rgba(0, 0, 0, 0.3);
}

.new::after {
  content: "NEW";
  position: absolute;
  top: 30px;
  right: 27px;

  display: inline-block;
  width: 56px;
  height: 34px;
  padding-top: 20px;

  font-weight: bold;
  font-size: 14px;
  line-height: 16.8px;
  font-family: "Gilroy", "Arial", sans-serif;
  vertical-align: middle;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);

  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

/*FOOTER*/

.inner-page footer {
  margin-top: 0;
}

footer {
  margin-top: 87px;
  padding-top: 63px;
  padding-bottom: 64px;

  color: #ffffff;

  background-color: #464646;
}

footer h1 {
  float: left;
  margin: 0;
  margin-left: -8px;
}

.logo-footer {
  fill: #f7e184;
}

a .logo-footer:hover {
  fill: #f0c52e;
}

a .logo-footer:active {
  opacity: 0.3;
}

.footer-user.clearfix {
  margin-bottom: 29px;
}

.footer-user-navigation {
  float: right;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
  text-align: right;
}

.footer-user-navigation li {
  display: inline-block;
  margin-left: 40px;

  vertical-align: top;
}

.footer-user-navigation li:first-of-type {
  margin-left: 0;
}

.footer-user-navigation a {
  position: relative;

  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigation a:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-user-navigation a:active {
  opacity: 0.3;
}

.footer-user-navigation a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  background-image: url("../img/sprite.png");
  transform: translateY(-50%);
}

.footer-login {
  padding-left: 25px;
}

.footer-login::before {
  width: 13px;
  height: 12px;

  background-position: -381px -104px;
}

.footer-login:hover::before {
  width: 13px;
  height: 12px;

  background-position: -414px -104px;
}

.footer-compare {
  padding-left: 18px;
}

.footer-compare::before {
  width: 10px;
  height: 10px;

  background-position: -381px -74px;
}

.footer-compare:hover::before {
  width: 10px;
  height: 10px;

  background-position: -567px -74px;
}

.footer-cart {
  padding-left: 21px;
}

.footer-cart::before {
  width: 12px;
  height: 12px;

  background-position: -567px -10px;
}

.footer-cart:hover::before {
  width: 12px;
  height: 12px;

  background-position: -567px -42px;
}

.footer-site-navigation {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;

  list-style: none;
  font-size: 0;
  text-align: center;
}

.footer-site-navigation li {
  display: inline-block;

  font-weight: lighter;
  font-size: 15px;
  vertical-align: top;
}

.footer-site-navigation a {
  margin-right: 35px;

  font-weight: bold;
  font-size: 18px;
  line-height: 21.6px;
  font-family: "Gilroy", "Arial", sans-serif;
  vertical-align: text-top;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.footer-site-navigation a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-site-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.address {
  float: left;
  margin-top: -3px;

  letter-spacing: normal;
}

.phone {
  float: right;
  margin-top: -3px;

  letter-spacing: normal;
}

.decoration span {
  float: left;
  box-sizing: border-box;
  width: 80px;
  height: 7px;
  margin: 15.5px 0;

  background-color: #f7e184;
}

.footer-social {
  float: left;
  margin-left: 426px;

  font-size: 0;
}

.social-btn {
  display: inline-block;
  width: 39px;
  height: 38px;
  margin-right: 15px;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.social-btn:hover {
  opacity: 1;
}

.social-btn:active {
  opacity: 0.1;
}

.footer-copyright {
  float: right;

  font-size: 0;
}

.footer-copyright a {
  display: inline-block;
  width: 27px;
  height: 34px;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -290px -256px;
}

.footer-copyright a:hover {
  background-position: -337px -256px;
}

.footer-copyright a:active {
  opacity: 0.3;
}

/*SPRITE*/

.sprite {
  display: block;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.sprite-icon-cam {
  width: 71px;
  height: 87px;

  background-position: -10px -10px;
}

.sprite-icon-dji {
  width: 260px;
  height: 100px;

  background-position: -101px -10px;
}

.sprite-icon-dji-hvr {
  width: 260px;
  height: 100px;

  background-position: -10px -130px;
}

.sprite-icon-fb {
  width: 39px;
  height: 38px;

  background-position: -381px -10px;
}

.sprite-icon-fittracker {
  width: 107px;
  height: 65px;

  background-position: -440px -10px;
}

.sprite-icon-footer-cart {
  width: 12px;
  height: 12px;

  background-position: -567px -10px;
}

.sprite-icon-footer-cart-hvr {
  width: 12px;
  height: 12px;

  background-position: -567px -42px;
}

.sprite-icon-footer-compare {
  width: 10px;
  height: 10px;

  background-position: -381px -74px;
}

.sprite-icon-footer-compare-hvr {
  width: 10px;
  height: 10px;

  background-position: -567px -74px;
}

.sprite-icon-footer-user {
  width: 13px;
  height: 12px;

  background-position: -381px -104px;
}

.sprite-icon-footer-user-hvr {
  width: 13px;
  height: 12px;

  background-position: -414px -104px;
}

.sprite-icon-gopro {
  width: 260px;
  height: 100px;

  background-position: -290px -136px;
}

.sprite-icon-gopro-hvr {
  width: 260px;
  height: 100px;

  background-position: -10px -256px;
}

.sprite-icon-header-cart {
  width: 12px;
  height: 12px;

  background-position: -447px -104px;
}

.sprite-icon-header-compare {
  width: 10px;
  height: 10px;

  background-position: -479px -104px;
}

.sprite-icon-header-user {
  width: 13px;
  height: 12px;

  background-position: -509px -104px;
}

.sprite-icon-htmlacademy {
  width: 27px;
  height: 34px;

  background-position: -290px -256px;
}

.sprite-icon-htmlacademy-hvr {
  width: 27px;
  height: 34px;

  background-position: -337px -256px;
}

.sprite-icon-insta {
  width: 39px;
  height: 38px;

  background-position: -384px -256px;
}

.sprite-icon-monopode {
  width: 86px;
  height: 117px;

  background-position: -443px -256px;
}

.sprite-icon-plus {
  width: 16px;
  height: 16px;

  background-position: -570px -104px;
}

.sprite-icon-quadrocopter {
  width: 132px;
  height: 69px;

  background-position: -10px -393px;
}

.sprite-icon-radio {
  width: 9px;
  height: 9px;

  background-position: -411px -74px;
}

.sprite-icon-spgadgets {
  width: 260px;
  height: 100px;

  background-position: -162px -393px;
}

.sprite-icon-spgadgets-hvr {
  width: 260px;
  height: 100px;

  background-position: -606px -10px;
}

.sprite-icon-tick {
  width: 12px;
  height: 7px;

  background-position: -606px -130px;
}

.sprite-icon-tw {
  width: 38px;
  height: 38px;

  background-position: -638px -130px;
}

.sprite-icon-vive {
  width: 260px;
  height: 100px;

  background-position: -570px -188px;
}

.sprite-icon-vive-hvr {
  width: 260px;
  height: 100px;

  background-position: -549px -308px;
}

.sprite-icon-vr {
  width: 97px;
  height: 55px;

  background-position: -442px -428px;
}

.sprite-icon-watch {
  width: 56px;
  height: 98px;

  background-position: -559px -428px;
}
