html,
body {
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #464646;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.capitalize {
  text-transform: capitalize;
}

.btn {
  font-weight: bold;
  font-size: 1.2857em;
  line-height: 1.2;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/*HEADER*/

header {
  margin-top: 40px;
  margin-bottom: 100px;
  padding: 50px 51px 143px;

  background-color: #f7e296;
}

.inner-page header {
  padding-bottom: 30px;
  margin-bottom: 44px;
}

header h1 {
  margin-top: -68px;
}

.visually-hidden {
  display: inline-block;

  text-indent: -9999px;
}

.logo {
  font-weight: 800;
  font-size: 26.459px;
  font-family: Gilroy;
}

.logo-header {
  fill: #000000;
}

a .logo-header:hover {
  fill: #464646;
}

a .logo-header:active {
  fill: #666666;
}

.header-user.clearfix {
  margin-bottom: 34px;
}

.site-search {
  float: left;
}

.user-navigation {
  float: right;
  width: 842px;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
  text-align: right;
}

.user-navigation li {
  display: inline-block;

  vertical-align: top;
}

.user-navigation a {
  padding-left: 20px;

  font-size: 15px;
}

.user-navigation a::before {
  content: "";

  display: inline-block;
  width: 13px;
  height: 12px;
}

.header-cart {
  margin-left: 41px;
}

.header-compare {
  margin-left: 217px;
}

.site-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation a {
  font-weight: bold;
  font-size: 18px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  white-space: nowrap;
}

.link-catalog {
  position: relative;
  z-index: 3;

  float: left;
  margin-right: 375px;

  text-align: left;
}

.link-catalog > a {
  padding-right: 28px;
}

.link-catalog > a::after {
  content: "";

  display: inline-block;
  width: 16px;
  height: 16px;
}

.link-delivery {
  float: left;
  margin-right: 40px;
}

.link-warranty {
  float: left;
}

.link-contacts {
  float: right;
}

.catalog-navigation {
  position: absolute;
  top: 30px;
  left: -51px;
  z-index: 3;

  display: none;
  width: 1100px;
  padding-top: 25px;
  padding-bottom: 34px;
  padding-left: 60px;

  font-size: 0;
  text-align: left;

  background-color: #f7e296;
}

.catalog-navigation ul {
  display: inline-block;
  width: 20%;
  margin: 0;
  padding: 0;

  list-style: none;
  vertical-align: top;
}

.catalog-navigation a {
  font-weight: normal;
  font-size: 15px;
 font-family: "Open Sans", "Arial", sans-serif;
  text-align: left;
  text-transform: lowercase;
}

.link-catalog:hover .catalog-navigation,
.catalog-navigation:hover {
  display: block;
}

/*ITEM-SLIDER*/

main > input[name="services"],
main > input[name="item"] {
  display: none;
}

.item-slide {
  display: none;
}

#btn-monopode:checked ~ .item-slider #slide-monopod,
#btn-fittracker:checked ~ .item-slider #slide-fittracker,
#btn-quadrocopter:checked ~ .item-slider #slide-quadrocopter {
  display: block;
}

.item-slider {
  position: relative;

  width: 564px;
  margin-bottom: 120px;
  margin-left: 596px;

  text-align: left;
}

.item-slider img {
  position: absolute;
  z-index: 2;
}

.monopode img {
  top: -220px;
  left: -506px;
}

.fittracker img {
  top: -209px;
  left: -481px;
}

.quadrocopter img {
  top: -155px;
  left: -566px;
}

h2 {
  margin: 0;

  font-weight: bold;
  font-size: 3.3571em;
  line-height: 1.2;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.item-slide h2 {
  position: absolute;
  top: -141.7px;
  left: 0;
  z-index: 2;

  width: 390px;
}

.quadrocopter h2 {
  width: 502px;
}

.item-slide span {
  position: absolute;
  right: 46px;
  z-index: 2;

  font-weight: bold;
  font-size: 12.8em;
  line-height: 1;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #ffffff;
}

.monopode span {
  top: -234px;
}

.fittracker span {
  top: -236px;
}

.quadrocopter span {
  top: -234px;
}

.item-slide > p {
  width: 445px;
  margin: 0;
}

.monopode > p {
  width: 460px;
}

.item-slider a {
  display: block;
  width: 220px;
  margin-top: 65px;
  margin-bottom: 65px;
}

.item-slider-controls {
  position: relative;
  bottom: 171px;
  left: 263px;
}

.description {
  font-size: 0;
}

.description div {
  display: inline-block;
  margin-right: 45px;

  vertical-align: top;
  text-align: left;
}

.description b {
  font-weight: lighter;
  font-size: 36px;
  line-height: 1.2;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.description p {
  font-size: 13px;
  line-height: 1.538;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #464646;
}

/*ITEM-NAVIGATION*/

.item-navigation {
  margin: 0;
  margin-bottom: 90px;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.item-navigation li {
  display: inline-block;
  margin-right: 40px;

  vertical-align: top;
}

.item-navigation li:nth-child(6n) {
  margin-right: 0;
}

.item-navigation a {
  display: block;
  width: 160px;

  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
  font-family: "Gilroy";
  text-align: left;
  color: #000000;
}

.item::before {
  content: "";

  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 40px;

  background-color: #f7e296;
}

/*SERVICES-SLIDER*/

#btn-delivery:checked ~ .services-slider #slide-delivery,
#btn-warranty:checked ~ .services-slider #slide-warranty,
#btn-credit:checked ~ .services-slider #slide-credit {
  display: inline-block;
}

.services-slider {
  width: 1397px;
  margin-bottom: 83px;
  margin-left: -95.5px;

  font-size: 0;

  background-color: #e5e5e5;
}

.services-slide {
  display: none;
  width: 689px;
  margin-top: -40px;

  background-repeat: no-repeat;
}

.delivery {
  background-image: url("../img/delivery.png");
  background-position: 553px 0;
}

.warranty {
  background-image: url("../img/warranty.png");
  background-position: 518px 0;
}

.credit {
  background-image: url("../img/credit.png");
  background-position: 533px 0;
}

.services-slider-controls {
  display: inline-block;
  margin-top: -30px;
  margin-left: 95.5px;
  padding-bottom: 85px;

  vertical-align: top;
}

.services-slider-controls label {
  display: block;
  width: 138px;
  margin-bottom: 25px;
  padding-right: 140px;

  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  font-family: "Gilroy";
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.services-slide h2 {
  margin-bottom: 40px;

  font-size: 47px;
}

.services-slide p {
  width: 440px;
  padding-bottom: 85px;

  font-size: 15px;
  text-align: left;
}

/*TM*/

.tm {
  margin-bottom: 93px;

  font-size: 0;
}

.tm a {
  display: inline-block;
  width: 260px;
  height: 100px;
  margin-right: 40px;

  vertical-align: top;

  background-color: red;/*удалить*/
}

.tm a:nth-child(4n) {
  margin-right: 0;
}

/*INFO*/

.info {
  width: 50%;
  padding-top: 41px;
}

.info h2 {
  margin-bottom: 42px;
}

.info p {
  width: 465px;
  margin: 0;
  margin-bottom: 30px;
}

.info a {
  display: inline-block;
  width: 260px;

  background-color: #f0c52e;
}

/*ABOUT*/

.about {
  float: left;
}

.about h2 {
  margin-bottom: 42px;
}

.about ul {
  margin-bottom: 62px;
  padding-top: 40px;
}

.about li {
  font-weight: bold;
  font-size: 1.1428em;
  line-height: 2.5;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

/*CONTACTS*/

.contacts {
  float: right;
}

.contacts p {
  margin-bottom: 37px;
}

.contacts div {
  padding-bottom: 46px;
}

h3 {
  font-weight: bold;
  font-size: 1.2857em;
  line-height: 1.2;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

/*FOOTER*/

footer {
  margin-top: 94px;

  color: #ffffff;

  background-color: #464646;
}

footer .container {
  padding-top: 66px;
}

footer h1 {
  float: left;
  margin: 0;
}

.footer-user.clearfix {
  margin-bottom: 14px;
}

.footer-user-navigation {
  float: right;
  width: 988px;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
  text-align: right;
}

.footer-user-navigation li {
  display: inline-block;
  margin-left: 43px;

  vertical-align: top;
}

.footer-user-navigation a {
  padding-left: 20px;

  font-size: 15px;
}

.footer-user-navigation a::before {
  content: "";

  display: inline-block;
  width: 13px;
  height: 12px;
}

.footer-site-navigation {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  list-style: none;
  font-size: 0;
  text-align: center;
}

.footer-site-navigation li {
  display: inline-block;

  font-weight: lighter;
  font-size: 15px;
  vertical-align: top;
}

.footer-site-navigation a {
  margin-right: 35px;

  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
  font-family: "Gilroy", "Arial", sans-serif;
  vertical-align: text-top;
}

.address {
  float: left;
}

.phone {
  float: right;
}

.footer-social {
  display: inline-block;
  width: 386.666px;
  margin-bottom: 65px;
  padding-left: 386.666px;

  text-align: center;
}

.footer-copyright {
  display: inline-block;
  width: 386.666px;
  margin-bottom: 65px;
  margin-left: -4px;

  text-align: right;
}

.logo-footer {
  fill: #f7e184;
}

a .logo-footer:hover {
  fill: #f0c52e;
}

a .logo-footer:active {
  opacity: 0.3;
}
